{% extends 'user/common/layout.html' %}
{%load static%}

{% block content %}
<!-- Breadcrumb Wrapper Start -->
<div class="breadcrumb-wrapper">
    <div class="container">
      <div class="breadcrumb-text">
        <h1>Security</h1>
        <div class="inner-breadcrumb">
          <ul>
            <li><a href="/user/home">Home</a></li>
            <li>Security</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Wrapper End --> 
  <!-- Barrister Inner page Wrapper Start -->
  <div class="inner-page-wrapper aboutus-wrapper">
    <div class="container">
      <div class="title"> <span class="title-border-img"></span>
        <h2>Products for safety</h2>
      </div>
      {% for row in result %}
      <div class="row">
        <div class="col-sm-5 col-md-5">
              <div class="img"><img src="/media/product/{{row.img_name}}" alt=""></div>
        </div>
        <div class="col-sm-7">
          <div class="about-text">
            <h3>{{row.pro_name}}</h3>
            <p>{{row.pro_des}}​</p>
        </div>
        </div>
      </div> 
      {%endfor%}
    </div>
  </div>
  <!-- Barrister Inner page Wrapper End --> 
  <!-- Barrister Video Wrapper end -->
  <div class="barrister-video-wrapper about-video">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <div class="video-wrapper"> <a href="https://www.youtube.com/watch?v=Dhs5u_pSGm8" class="btn btn-default" data-popup="video"> <i class="fa fa-play" aria-hidden="true"></i> </a> </div> -->
          <div class="video-wrapper"> <a href="https://www.youtube.com/watch?v=ORAOkP1h3R0" class="btn btn-default" data-popup="video"> <i class="fa fa-play" aria-hidden="true"></i> </a> </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Barrister Video Wrapper end --> 
  <!-- Barrister CTA Wrapper end -->
  <div class="barrister-cta-wrapper">
    <div class="container">
      {% if request.user.is_authenticated %}
      <div class="row">
  
        <div class="col-sm-8 col-md-9">
          <h3>We Provide real time crime information!</h3>
        </div>
        <div class="col-sm-4 col-md-3"> <a href="/user/view_post/" class="btn-one pull-right"> View Post</a> </div>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- Barrister CTA Wrapper end --> 
  {%endblock%}